.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
      font-family: var(--fonte-secundario);
      font-size: 30px;
    }
  .container__titulo {
    font-weight: 400;
    display: block;
  }
  
  .container__titulo--negrito {
    font-weight: 700;
  }
  .opções {
    display: flex;
  }
  .opções_item {
    padding: 0 1em;
    text-transform: uppercase;
  }
  .opções__link {
    text-decoration: none;
    color: var(--preto);
  }
  .container__imagem-transparente {
    display: none;
  }
  .cabeçalho__menu-hamburguer {
    display: none;
  }
  .opções_botão:checked ~ .lista-menu {
    display: block;
    width: auto;
  }
  .opções_botão {
    display: none;
  }
}
.container__titulo {
    display: none;
  }
  .opções {
    display: none;
  }